@import './fonts';
@import './variables';
@import './buttons';
@import './form';

body {
    font-size: $main-font-size;
    background-color: $light-gray;
    font-family: $font-family;
    color: $med-gray;
    margin: 0;
}

h2 {
    margin-top: 0;
}