@import './functions';
@import './variables';
@import './breakpoints';

input {
    font-size: $main-font-size;
    font-family: $font-family;
    border: solid 1px $gray;
    border-radius: rem(5);
    box-sizing: content-box;
    padding: rem(10);
    margin-bottom: rem(20);
    width: 100%;
}

fieldset {
    width: 100%;
    border: solid rem(1) $gray;
    margin-bottom: rem(20);

    legend {
        color: $med-gray;
    }

    input {
        box-sizing: border-box;
        margin-top: rem(10);
        margin-bottom: rem(10);
    }

    .button {
        margin-top: rem(10);
    }
} 

.form {
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light-text;
    padding: rem(40) rem(60);
    align-self: center;

    @include breakpoint(tablet) {
        flex-basis: 40%;
    }
}

.form-wrapper {
    display: flex;
    justify-content: center;
}
