$main-font-size: 16px;

$main-color: #0740a2;
$main-color-light: #3771d5;
$main-color-very-light: #e0ebff;
$main-color-dark: #002057;
$dark-gray: #333333;
$med-gray: #555555;
$gray: #bfbebe;
$light-gray: #f1f1f1;
$very-light-gray: #f9f9f9;
$light-text: #ffffff;

$font-family: 'Open Sans', sans-serif;
